
<body style="">
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	<div class="back addFriends" >Add Friends</div>
	<% if @users.include?session[:user_id] %>
		<h1 id="title"><%=@conversation.title%></h1>
		<h5 style="text-align:center"><p>Copy this link to share to friends: <br>quick-chat.herokuapp.com/join?id=<%=@conversation.id%>&ksy=<%=@conversation.secret%></p></h5>
		<%=flash[:message]if flash[:message]%>
	<% else %>
		<h1> you are not allowed to be here bud </h1>
		<%         flash[:message] = "You are not allowed there."
                   redirect '/' 
                   %>
	<% end %>
	<div class="shareLink">
		
	</div>
	<ul id="msgs" style="list-style-type:none;">
		<%i = 0
		for m in @messages%>
		 	<% time1 = Time.new
		 	if (time1.utc) < (m.created+120)%>
				<li class="message"><%=m.content%></li>
			<%else
			  	Message.destroy(m)%>
			<%end%>
		<% i+=1 %>
		<%end%>
	</ul>
	<br><br><br><br>
	<form id="form">
		<input type="text" id="input" value="send a message" class="sendAMessage"style=""></input>
		<input type="submit" id="inputButton" value="send">
	</form>
	<div class="addFriendsPopup">
		<h1 style="text-align:center;">Add Other Users!</h1>
		<p style="text-align:center;">Users already here.&nbsp;&nbsp;
			<% @users.each do |t|%> 
				<%=User.find(t).username %> &nbsp;
			<%end%>
		</p>
		<form id="addFriendThing" action="/addFriend" method="POST" style="position:absolute; top:55%; left:20%; ">
			<label for="Username">Username:
				<select name="username" form="addFriendThing"placeholder="Username" style="max-width:120px">
					<% User.all.each do |t| %>
						<% if !@users.include? t.id %>
							<option value="<%=t.username%>"><%=t.username%></option>
						<%end%>
					<%end%>
				</select>
			</label>
			<input type="submit">
		</form>
		<br><br>
		<p class="closeBox">close</p>
	</div>
</body>
 
<script type="text/javascript">
 window.onload = function(){
  (function(){
    var show = function(el){
      return function(msg){ el.innerHTML =el.innerHTML + '<li class="message">' +  escapeHtml(msg)  + '</li>'}
    }(document.getElementById('msgs'));
    var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
    // ws.onopen    = function()  { show('websocket opened'); };
    // ws.onclose   = function()  { show('websocket closed'); }
    ws.onmessage = function(m) { 
    	show(m.data); 
        window.scroll(0, document.documentElement.offsetHeight);

    };
    var entityMap = {
	    "&": "&amp;",
	    "<": "&lt;",
	    ">": "&gt;",
	    '"': '&quot;',
	    "'": '&#39;',
	    "/": '&#x2F;'
  	};
  	function escapeHtml(string) {
	    return String(string).replace(/[&<>"'\/]/g, function (s) {
	      return entityMap[s];
	    });
  	}
    var sender = function(f){
      var input     = document.getElementById('input');
      input.onclick = function(){ input.value = "" };
      f.onsubmit    = function(){
        ws.send(input.value + "," + <%=session[:user_id]%>);
        input.value = "";
        return false;
      }
    }(document.getElementById('form'));
  })();
}
$(".addFriendsPopup").hide()
$(".addFriends").click(function(){
  $(".addFriendsPopup").show()
  $(".closeBox").click(function(){
    $(".addFriendsPopup").hide()
  })
})
</script>

