
<body style="">
	<script type="text/javascript">var timeAr = []</script>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	<div class="back addFriends" >Add Friends</div>
	<% if @users.include?session[:user_id] %>
		<h1 id="title"><%=@conversation.title%></h1>
		<h5 class="shareFriends" style="text-align:center; font-size:15pt"><p>Copy this link to share to friends: <br>quick-chat.herokuapp.com/join?id=<%=@conversation.id%>&ksy=<%=@conversation.secret%> <br><span class="hide"> hide </span></p></h5>
		<h5 style="text-align:center; font-size:15pt" class="showShareFriends">Show Sharing Link</h5>
		<%=flash[:message]if flash[:message]%>
	<% else %>
		<h1> you are not allowed to be here bud </h1>
		<%         flash[:message] = "You are not allowed there."
                   redirect '/' 
                   %>
	<% end %>
	<div class="shareLink">
		
	</div>
	<ul id="msgs">
		<%i = 0
		for m in @messages%>
		 	<% time1 = Time.new
		 	if (time1.utc) < (m.created+(@conversation.time))%>
				<li class="message">
					<%=m.content%>
					<% if !@done %>
						<script type="text/javascript">
							a = new Date()
	   						b = new Date(+a + <%(@conversation.time*1000)%>)
	      					timeAr.push(b)
						</script>
					<% end %>
					<hr style="width:100%; margin-left:0">
				</li>
				
			<%else
			  	Message.destroy(m)%>
			<%end%>
		<% i+=1 %>
		<%end%>
		<% @done=true %>
	</ul>
	<br><br><br><br>
	<form id="form">
		<input type="text" id="input" value="send a message" class="sendAMessage"style=""></input>
		<input type="submit" id="inputButton" value="send">
	</form>
	<div class="addFriendsPopup">
		<h1 style="text-align:center;">Add Other Users!</h1>
		<p style="text-align:center;">Users already here.&nbsp;&nbsp;
			<% @users.each do |t|%> 
				<%=User.find(t).username %> &nbsp;
			<%end%>
		</p>
		<form id="addFriendThing" action="/addFriend" method="POST" style="position:absolute; top:55%; left:20%; ">
			<label for="Username">Username:
				<select name="username" form="addFriendThing"placeholder="Username" style="max-width:120px">
					<% User.all.each do |t| %>
						<% if !@users.include? t.id %>
							<option value="<%=t.username%>"><%=t.username%></option>
						<%end%>
					<%end%>
				</select>
			</label>
			<input type="submit">
		</form>
		<br><br>
		<p class="closeBox">close</p>
	</div>
</body>
 
<script type="text/javascript">
 window.onload = function(){
  (function(){
    var show = function(el){
      return function(msg){ 
      	el.innerHTML =el.innerHTML + '<li class="message">' +  escapeHtml(msg)  + '<hr style="width:100%; margin-left:0"></li> ';
      	a = new Date()
   		b = new Date(+a + <%=(@conversation.time*1000)%>)
      	timeAr.push(b)
      	console.log("is it happening?")
     }
    }(document.getElementById('msgs'));
    var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
    ws.onopen    = function()  { ws.send("entered the chatroom." + "," + <%=session[:user_id]%>); };
    // ws.onclose   = function()  { ws.send("left the chatroom." + "," + <%=session[:user_id]%>); }
    ws.onmessage = function(m) { 
    	show(m.data); 
        window.scroll(0, document.documentElement.offsetHeight);

    };
    var entityMap = {
	    "&": "&amp;",
	    "<": "&lt;",
	    ">": "&gt;",
	    '"': '&quot;',
	    "'": '&#39;',
	    "/": '&#x2F;'
  	};
  	function escapeHtml(string) {
	    return String(string).replace(/[&<>"'\/]/g, function (s) {
	      return entityMap[s];
	    });
  	}
    var sender = function(f){
      var input     = document.getElementById('input');
      input.onclick = function(){ input.value = "" };
      f.onsubmit    = function(){
      	try {
        	ws.send(input.value + "," + <%=session[:user_id]%>);
        }
        catch (err){
        	window.location.href = "/";
        }
        input.value = "";
        return false;
      }
    }(document.getElementById('form'));
  })();
}
$(".addFriendsPopup").hide()
$(".shareFriends").hide()
$(".addFriends").click(function(){
  $(".addFriendsPopup").show()
  $(".closeBox").click(function(){
    $(".addFriendsPopup").hide()
  })
})
$(".hide").click(function(){
	$(".shareFriends").hide()
	$(".showShareFriends").show()
})
$(".showShareFriends").click(function(){
	$(".showShareFriends").hide()	
	$(".shareFriends").show()
})
console.log(timeAr)
setInterval(function(){
	$(".message").each(function(index){
		d = timeAr[index]
		e = new Date()
		if (e > d){
			$(this).fadeOut(2000);
		}
	})
}, 100)
</script>

